# Gulp
gulp-tasks
gulpfile.js
gulpfile.local.js
gulpfile.paths.js

# Webpack
webpack.config.dev.js
webpack.config.prod.js

###Python###

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info/
develop-eggs/
eggs/

# Installer logs
pip-delete-this-directory.txt
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Database
*.sqlite[3]

# Django stuff:

# static
tinymce_4/static/*
!tinymce_4/static/tinymce_4
!tinymce_4/static/filebrowser
!tinymce_4/static/grappelli

# node
**/node_modules
npm-debug.log
