<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div>
        {% for obj in tiny_objects %}
            {{ obj.tiny_field|safe }}
        {% empty %}
            <div>Run <em>make init-example</em> in django-tinymce-4 dir</div>
            <div>Use for admin part:
                <ul>
                    <li>login: <em>admin</em></li>
                    <li>password: <em>admin</em></li>
                </ul>
            </div>
            <div><a href="/admin/tiny_example/tinyexample/add/" target="_blank">Add new object</a></div>
        {% endfor %}
    </div>
</body>
</html>
